body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #2d2d2d;
    color: #fff;
}

h1 {
    color: #3498db;
}

#searchForm {
    margin-bottom: 20px;
}

label, input, select {
    color: #fff;
}

input, select, button {
    padding: 8px;
    margin-bottom: 10px;
    background-color: #333;
    border: 1px solid #555;
    color: #fff;
}

button {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
}

button: hover {
    background-color: #2980b9;
}

#repositoriesList {
    list-style: none;
    padding: 0;
}

.repository {
    border: 1px solid #555;
    background-color: #333;
    margin-bottom: 10px;
    padding: 10px;
}

a {
    color: #3498db;
    text-decoration: none;
}

a: hover {
    text-decoration: underline;
}

.loader {
    border: 4px solid #555;
    border-top: 4px solid #3498db;
}
